{% extends 'base.html' %}
{% load static %}

{% block title %}
  <title>Xplore</title>
{% endblock title %}

{% block content %}
<section class="py-0 bg-primary">
  <div class="col-md-12">
  {% include 'partials/_alerts.html' %}
    <h1 class="text-center"><strong ><span class="text-warning">QwikXplore</span></strong></h1>
    <p class="lead text-light">
      QwikXplore is buildqwik adtech meets proptech product.
      QwikXplore provides companies that operate in the building and
      construction industry a platform to promote their products and
      communicate offers to target audience. Individuals and businesses
      can have easy access to offers and promotions offered by various
      companies, giving them the advantage of saving money on best
      available products.
    </p>
  <div>
</section>
<div class="col-md-12">
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    </ol>
    <div class="carousel-inner">
      {% for img in fulls %}
      <div class="carousel-item {% if forloop.counter0 == 0 %}active{% endif %}" data-interval="100">
        <img class="d-block w-100 h-30" src="{{img.request_Id.imageURL}}" height="400" alt="{{img.xplorer}}'s advert">
      </div>
      {% endfor %}
    </div>
  </div>
</div>
<div class="row ml-1 mr-1">
  <div class="col-md-8">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      </ol>
      <div class="carousel-inner">
        {% for img in three_quarters %}
        <div class="carousel-item {% if forloop.counter0 == 0 %}active{% endif %}" data-interval="100">
          <img class="d-block w-100 h-30" src="{{img.request_Id.imageURL}}" height="400" alt="{{img.xplorer}}'s advert">
        </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      </ol>
      <div class="carousel-inner">
        {% for img in one_quarters %}
        <div class="carousel-item {% if forloop.counter0 == 0 %}active{% endif %}" data-interval="100">
          <img class="d-block w-100 h-30" src="{{img.request_Id.imageURL}}" height="400" alt="{{img.xplorer}}'s advert">
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% endblock content %}
