{% extends "base.html" %}
{% load static %}
{% load humanize %}

{% block title %}
  <title>Your Cart</title>
{% endblock title %}

{% block content %}
<br>
{% include 'partials/_alerts.html' %}
{% if cart %}
<table class="cart">
  <thead>
    <tr>
      <th>Image</th>
      <th>Product</th>
      <th>Quantity</th>
      <th></th>
      <th>Unit price</th>
      <th>Price</th>
    </tr>
    </thead>
    <tbody>
      {% for item in cart %}
        {% with product=item.product %}
          <tr>
            <td>
              <a href="{{ product.get_absolute_url }}">
                <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}">
              </a>
            </td>
            <td>{{ product.type }}</td>
            <td>
              <form action="{% url "cart:cart_add" product.id %}" method="post">
                  {{ item.update_quantity_form.quantity }}
                  {{ item.update_quantity_form.update }}
                  <input class="bg-warning text-primary" type="submit" value="Update">
                  {% csrf_token %}
              </form>
            </td>
            <td><button class="btn-warning" type="button"><a href="{% url "cart:cart_remove" product.id %}">Remove</a></button></td>
            <td>₦{{ item.price|intcomma }}</td>
            <td>₦{{ item.total_price|intcomma }}</td>
          </tr>
          {% endwith %}
      {% endfor %}
      <tr class="total">
          <td>Total</td>
          <td colspan="4"></td>
          <td>₦{{ cart.get_total_price|intcomma }}</td>
      </tr>
    </tbody>
  </table>
  <p class="text-right">
      <a href="{% url "products:product_list" %}" class="bg-primary text-white button light">Add More Products</a>
      {% if user.is_authenticated %}
        <a href="{% url "orders:order_create" %}" class="bg-warning text-primary button">Fill Delivery Info</a>
      {% else %}
        <a href="{% url "orders:order_visitor" %}" class="bg-warning text-primary button">Fill Delivery Info</a>
      {% endif %}
  </p>
  {% else %}
    <h3 class="text-center">No Item in Cart!</h3>
  {% endif %}

{% endblock %}
