{% extends 'base.html' %}
{% load static %}

{% block title %}
  <title>About BuildQwik</title>
{% endblock title %}

{% block content %}
<style media="screen">
  body {
   background: url('{% static "img/ab.png" %}') no-repeat top center fixed;
   position: relative;
   width: 100%;
   color: #fff;
   background-size: cover;
   /* padding-top: 6rem; */
  }
</style>

<section  class="py-5 text-dark">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="display-4 text-center"><strong>About  <span class="text-warning">BUILDQWIK</span></strong></h1>
        <h3 class="text-danger">Some information...</h3>
      </div>
    </div>
  </div>
</section>

<section  class="py-4 bg-white text-dark">
  <div class="row mt-5 ml-5 mr-5">
    <div class="col-md-4">
          <img src="{% static 'img/logo.jpg' %}" alt="Big BuildQwik Logo" class="img-responsive" width="300" height="350">
    </div>
    <div class="col-md-8">
    <h3>We are ...</h3>
    </div>
    <div class="pull-left col-md-6 mt-5">
      <h1 class="text-center text-primary"><strong>OUR MISSION</strong></h1>
      <h4 class="row ml-5 mr-1 text-danger">Some information
        ...</h4>
    </div>
    <div class="pull-right col-md-6 mt-5">
      <h1 class="text-center text-primary"><strong>OUR VISION</strong></h1>
      <h4 class="row ml-5 mr-1 text-danger">Some information
        ...</h4>
    </div>
    <div class="col-md-12 mt-5">
      <h1 class="text-center text-primary"><strong>THE RATIONALE BEHIND STARTING UP THE BUILDQWIK</strong></h1>
      <h4 class="row ml-5 text-danger">Some information ...</h4>
      <ul>
        <li class="row ml-5">...</li>
        <li class="row ml-5">...</li>
        <li class="row ml-5">...</li>
      </ul>
    </div>
  </div>
</section>

{% endblock %}
