{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
  <title>About Us</title>
{% endblock title %}

{% block content %}
<section class="py-0 bg-primary">
  <div class="col-md-12">
    <h1 class="text-center"><strong ><span class="text-warning">About Us</span></strong></h1>
    <ul class="lead text-light">
      <li>
        Our company, BuildQwik Technology Limited (RC 1761355) is an Africa-focused construction technology
        (construction-tech) company. We seek to be the go-to one-stop construction-tech solutions company, leveraging best
        technologies and innovations to guarantee partners satisfaction
      </li>
      <br>
      <li>
        We have developed a technology and operational procedures that seek to provide efficiency, cost-saving, increased
        productivity and technology integration in the construction industry that has hitherto been run traditionally
      </li>
      <br>
      <li>
        As an omni-platform construction-tech company, we offer the tech-driven services:
          <ol class="text-warning">
            <br>
            <li >
              <strong>QwikMaterials</strong> <span class="text-light">– Construction-tech meets retail-tech.</span>
            </li>
            <br>
            <li>
              <strong>QwikXplore</strong> <span class="text-light">– Construction-tech meets adtech.</span>
            </li>
            <br>

          </ol>
      </li>
    </ul>
    <br>
</section>
{% endblock content %}
