{% extends 'base.html' %}
{% load static %}

{% block title %}
  <title>BuildQwik Home</title>
{% endblock title %}

{% block content %}
<style media="screen">
  #bg {
    background-position: top;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
  }
  #circle{
    border-radius: 100px
  }
</style>
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

  <section class="py-5 text-dark" id="bg" style= "background-image: url('{% static "img/home.png" %}');">
    <div class="row mt-5 ml-5 mr-5">
      <div class="col-lg-4">
            <img src="{% static 'img/logo.jpg' %}" alt="BuildQwik Logo" class="rounded-lg" width="300">
      </div>
      <div class="col-lg-8">
      <h1><strong> Welcome to <span class="text-warning">BUILDQWIK TECHNOLOGY LIMITED</span></strong></h1>
      <h4 class="text-danger">BuildQwik Technology Limited is a ...</h4>
      </div>
    </div>
  </section>
  <section class="py-0 bg-info text-white">
    <div class="text-center row mt-1 ml-2 mr-2">
      <div class="col-lg-12">
        <h1><strong>Our <span class="text-warning">PRODUCTS</span></strong></h1>
      </div>
    </div>
    <div class="container">
      <div class="row text-center mt-4">
        <div class="col-md-4">
              <img src="{% static 'img/cement_bag.png' %}" alt="Cement Image" id="circle" class="img-responsive" width="100" height="300">
              <h4><strong>CEMENT</strong></h4>
        </div>
        <div class="col-md-4">
              <img src="{% static 'img/roofing.jpeg' %}" alt="Roofing Image" id="circle" class="img-responsive" width="100" height="300">
              <h4><strong>ROOFING MATERIALS</strong></h4>
        </div>
        <div class="col-md-4">
              <img src="{% static 'img/tiles.jpeg' %}" alt="Tiles Image" id="circle" class="img-responsive" width="100" height="300">
              <h4><strong>TILES</strong></h4>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row text-center mt-4">
        <div class="col-md-4">
              <img src="{% static 'img/plumbing.jpeg' %}" alt="Plumbing Image" id="circle" class="img-responsive" width="100" height="300">
              <h4><strong>PLUMBING MATERIALS</strong></h4>
        </div>
        <div class="col-md-4">
              <img src="{% static 'img/steel.jpg' %}" alt="Steel Image" id="circle" class="img-responsive" width="100" height="300">
              <h4><strong>STEELS</strong></h4>
        </div>
        <div class="col-md-4">
              <img src="{% static 'img/paint.png' %}" alt="Paint Image" id="circle" class="img-responsive" width="100" height="300">
              <h4><strong>PAINT</strong></h4>
        </div>
      </div>
    </div>
    <div class="container mt-4">
      <div class="row text-center">
        <div class="col-md-4">

        </div>
        <div class="col-md-4">
              <img src="{% static 'img/interlock.png' %}" alt="Interlock Image" id="circle" class="img-responsive" width="100" height="300">
              <h4><strong>INTERLOCK STONES</strong></h4>
        </div>
        <div class="col-md-4">

        </div>
      </div>
    </div>
    <!-- <div class="text-center row mt-1 ml-5 mr-5 mb-1">
      <div class="col-lg-12">
        <a href="">
          <button class="btn btn-outline-primary my-2 my-sm-0" type="submit"><strong>VIEW ALL</strong></button>
        </a>
      </div> -->

  </section>

  <section id="services" class="bg-secondary text-white">
    <div class="text-center row ml-2 mr-2 mt-4">
      <div class="col-lg-12">
        <h1><strong>We offer the following <span class="text-warning">SERVICES</span></strong></h1>
      </div>
    </div>
    <div class="container mt-4">
      <div class="row text-center">
        <div class="col-md-4">
          <i class="fas fa-wrench fa-4x mr-4"></i>
          <hr>
          <h4>GET TECHNICIANS</h4>
          <h6 class="text-danger">Some information...</h6>
        </div>
        <div class="col-md-4">
          <i class="fas fa-home fa-4x mr-4"></i>
          <hr>
          <h4>GET CONTRACTORS</h4>
          <h6 class="text-danger">Some information...</h6>
        </div>
        <div class="col-md-4">
          <i class="fas fa-list-ul fa-4x mr-4"></i>
          <hr>
          <h4>INTERIOR DECORATION</h4>
          <h6 class="text-danger">Some information...</h6>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row text-center">
        <div class="col-md-2">

        </div>
        <div class="col-md-4">
          <i class="fas fa-plug fa-4x mr-4"></i>
          <hr>
          <h4>HOME WIRING</h4>
          <h6 class="text-danger">Some information...</h6>
        </div>
        <div class="col-md-4">
          <i class="fas fa-shower fa-4x mr-4"></i>
          <hr>
          <h4>PLUMBING</h4>
          <h6 class="text-danger">Some information...</h6>
        </div>
        <div class="col-md-2">

        </div>
      </div>
    </div>
  </section>
{% endblock content%}
