{% extends 'base.html' %}
{% load static %}

{% block title %}
  <title>BuildQwik Home</title>
{% endblock title %}

{% block content %}
<style media="screen">
  #bg {
    background-position: top;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
  }
  #circle{
    border-radius: 100px
  }
</style>
  <link rel="stylesheet" type="css" href="{% static 'css/style.css' %}">

  <section>
      <div class="row text-center">
        <div class="col-md-12">
          <img src="{% static 'img/home.jpg' %}" alt="Home Image" class="rounded-lg" width="100%" height="800">
        </div>
      </div>
  </section>

  <section class="py-0 bg-primary text-white">
    <div class="text-center row ml-2 mr-2">
      <div class="col-lg-12">
        <h1><strong><span class="text-warning">QwikMaterials</span></strong></h1>
      </div>
    </div>
    <div class="container">
      <p class="lead">QwikMaterials is the bespoke flagship e-commerce product that seeks
        to provide affordability and ease of sourcing all kind of building
        materials on one platform. We have developed an ease to use
        technology that makes sourcing and ordering building materials of any
        quantity seamless. Either you are contractor/developer that needs to
        deliver large and multiple projects QwikMaterials takes the stress of
        sourcing your material away and get them deliver to/on schedule, so
        that you can focus on things that matters. Or you are individual that
        just need to get a quick fix done on/in your building, QwikMaterials is
        just a click away for a hassle-free material sourcing .
        QwikMaterials are sourced directly from the manufacturers and are of
        best available quality. Be it cements, steels and rods, paints, roofing
        sheets and ceilings, bricks and interlocks...<a href="{% url 'product' %}"><strong class="text-warning">Read more</strong></a>
      </p>
      <div class="row text-center mt-4">
        <div class="col-md-4">
              <img src="{% static 'img/cement_bag.jpg' %}" alt="Cement Image" id="circle" class="img-responsive" width="100" height="300">
              <h4><strong>CEMENT</strong></h4>
        </div>
        <div class="col-md-4">
              <img src="{% static 'img/roofing.jpg' %}" alt="Roofing Image" id="circle" class="img-responsive" width="100" height="300">
              <h4><strong>ROOFING MATERIALS</strong></h4>
        </div>
        <div class="col-md-4">
              <img src="{% static 'img/tiles.jpeg' %}" alt="Tiles Image" id="circle" class="img-responsive" width="100" height="300">
              <h4><strong>TILES</strong></h4>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row text-center mt-4">
        <div class="col-md-4">
              <img src="{% static 'img/plumbing.jpeg' %}" alt="Plumbing Image" id="circle" class="img-responsive" width="100" height="300">
              <h4><strong>PLUMBING MATERIALS</strong></h4>
        </div>
        <div class="col-md-4">
              <img src="{% static 'img/steel.jpg' %}" alt="Steel Image" id="circle" class="img-responsive" width="100" height="300">
              <h4><strong>STEELS</strong></h4>
        </div>
        <div class="col-md-4">
              <img src="{% static 'img/paint.jpg' %}" alt="Paint Image" id="circle" class="img-responsive" width="100" height="300">
              <h4><strong>PAINT</strong></h4>
        </div>
      </div>
    </div>
    <div class="container mt-4">
      <div class="row text-center">
        <div class="col-md-4">

        </div>
        <div class="col-md-4">
              <img src="{% static 'img/interlock.jpg' %}" alt="Interlock Image" id="circle" class="img-responsive" width="100" height="300">
              <h4><strong>INTERLOCK STONES</strong></h4>
        </div>
        <div class="col-md-4">

        </div>
      </div>
    </div>
  </section>

  <section class="mt-1 py-1 bg-primary text-white">
    <div class="text-center row ml-2 mr-2 mt-4">
      <div class="col-lg-12">
        <h1><strong><span class="text-warning">QwikService</span></strong></h1>
      </div>
    </div>
    <br>
    <div class="container mt-4 text-warning">
      <div class="row text-center">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
          <span class="fa-stack fa-4x">
            <i class="fa fa-circle fa-stack-2x icon-background"> </i>
            <i class="fa fa-wrench fa-stack-1x mr-4 text-primary"></i>
          </span>
          <hr class="bg-warning">
          <h4>GET TECHNICIANS</h4>
          <h6 class="text-white">Some information...</h6>
        </div>
        <div class="col-md-4">
        </div>
      </div>
    </div>
    <br>
    <br>
    <div class="container mt-4 text-warning">
      <div class="row text-center">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
          <span class="fa-stack fa-4x">
            <i class="fa fa-circle fa-stack-2x icon-background"> </i>
            <i class="fa fa-home fa-stack-1x mr-4 text-primary"></i>
          </span>
          <hr class="bg-warning">
          <h4>GET CONTRACTORS</h4>
          <h6 class="text-white">Some information...</h6>
        </div>
        <div class="col-md-4">
        </div>
      </div>
    </div>
    <br>
    <br>
    <div class="container mt-4 text-warning">
      <div class="row text-center">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
          <span class="fa-stack fa-4x">
            <i class="fa fa-circle fa-stack-2x icon-background"> </i>
            <i class="fa fa-list fa-stack-1x mr-4 text-primary"></i>
          </span>
          <hr class="bg-warning">
          <h4>INTERIOR DECORATION</h4>
          <h6 class="text-white">Some information...</h6>
        </div>
        <div class="col-md-4">
        </div>
      </div>
    </div>
    <br>
    <br>
    <div class="container mt-4 text-warning">
      <div class="row text-center">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
          <span class="fa-stack fa-4x">
            <i class="fa fa-circle fa-stack-2x icon-background"> </i>
            <i class="fa fa-plug fa-stack-1x mr-4 text-primary"></i>
          </span>
          <hr class="bg-warning">
          <h4>HOME WIRING</h4>
          <h6 class="text-white">Some information...</h6>
        </div>
        <div class="col-md-4">
        </div>
      </div>
    </div>
    <br>
    <br>
    <div class="container mt-4 text-warning">
      <div class="row text-center">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
          <span class="fa-stack fa-4x">
            <i class="fa fa-circle fa-stack-2x icon-background"> </i>
            <i class="fa fa-shower fa-stack-1x mr-4 text-primary"></i>
          </span>
          <hr class="bg-warning">
          <h4>PLUMBING</h4>
          <h6 class="text-white">Some information...</h6>
        </div>
        <div class="col-md-4">
        </div>
      </div>
    </div>

  </section>

{% endblock content%}
