{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
  <title>Xplore</title>
{% endblock title %}

{% block content %}
<section class="py-0 bg-primary">
  <div class="col-md-12">
  {% include 'partials/_alerts.html' %}
  <br>
    <h1 class="text-center"><strong ><span class="text-warning">Terms and Conditions of Website Use</span></strong></h1>
    <h5 class=""><strong ><span class="text-warning">1. Terms of website use</span></strong></h5>
    <p class="lead text-light">
      This page and any other referenced documents (and as may be updated, modified or replace
      without prior notification at any time) describe the terms on which our website,
      <a href="{% url 'index' %}"><span class="text-warning">www.buildqwik.ng</span></a> is allowed usage of (could be used) either as a registered user or a visitor. By
      accessing and using our site, you accept these terms of use and agree to abide by them.
    </p>
    <h5 class=""><strong ><span class="text-warning">2. Privacy policy</span></strong></h5>
    <p class="lead text-light">
      Kindly see our privacy policy.
    </p>
    <h5 class=""><strong ><span class="text-warning">3. Information about us</span></strong></h5>
    <p class="lead text-light">
      <a href="{% url 'index' %}"><span class="text-warning">www.buildqwik.ng</span></a> is a site owned, operated and managed by BuildQwik Technology Limited.
      BuildQwik Technology Limited is a private limited liability company, registered under the Laws
      of the Federal Republic of Nigeria, with Company registration number RC 1761355 and is the
      sole rights holder of the BuildQwik Brand and Apps (including this website). For the purposes of
      this website, "seller", "we", "us" and "our" all refer to BuildQwik
    </p>
    <h5 class=""><strong ><span class="text-warning">4. Accessing our site</span></strong></h5>
    <p class="lead text-light">
      By accessing this site through any device or gadget, you confirm that you are at least 18 years
      old or are supervised by a parent or legal guardian.
    </p>
    <p class="lead text-light">
      Both parties (BuildQwik and You) agree that this website will only be used according to the
      Terms and Conditions of Use. If you do not agree with the Terms and Conditions of Use or do
      not wish to be bound by them, you agree to abstain from using this website.
    </p>
    <p class="lead text-light">
      We grant you a non-transferable, revocable and non-exclusive license to use this site, in
      accordance with the Terms and Conditions of Use, for such things as: shopping for building and
      construction materials and related products and services sold and /or made available on the site,
      gathering prior information regarding our products and services and making purchases.
      Unauthorized use is strictly prohibited.
    </p>
    <p class="lead text-light">
      These Terms and Conditions of Use specifically prohibits actions such as: accessing our servers
      or internal computer systems, interfering in any way with the functionality of this website,
      gathering or altering any underlying software code, infringing any intellectual property rights.
      This list is non-exhaustive and similar actions are also strictly prohibited.
    </p>
    <p class="lead text-light">
      Any breach of these Terms and Conditions of Use shall result in the immediate revocation of the
      license granted in this paragraph without prior notice to you. Should we determine at our sole
      discretion that you are in breach of any of these conditions, we reserve the right to deny you
      access to this website and its contents and do so without prejudice to any available remedies at
      law or otherwise.
    </p>
    <p class="lead text-light">
      Certain services and related features that may be made available on the site may require
      registration or subscription. Should you choose to register or subscribe for any such services or
      related features; you agree to provide promptly and update such information should there be any
      changes. Every user of the site is solely responsible for keeping account identifiers and login
      credentials safe and secure.
    </p>
    <p class="lead text-light">
      The account owner is entirely responsible for all activities that occur under such user account.
      Also, we must be notified of any unauthorized use of your account and account credentials. The
      site shall not be responsible or liable, directly or indirectly, in any way whatsoever for any loss
      or damage of any kind incurred as a result of, or in connection with, your failure to comply with
      this section.
    </p>
    <p class="lead text-light">
      During the registration process you agree to receive promotional emails from the site. You can
      subsequently opt out of receiving such promotional e-mails by clicking on the link at the bottom
      of any promotional email and unsubscribe.
    </p>
    <h5 class=""><strong ><span class="text-warning">5. Intellectual property rights</span></strong></h5>
    <p class="lead text-light">
      The license of all intellectual property in our site, and in the material published on it belong to
      us, our vendors and/or our partners. All such rights are reserved, except otherwise stated.
    </p>
    <p class="lead text-light">
      You may print off one copy, and may download extracts, of any page(s) from our site for your
      personal reference and may draw the attention of others within your organisation to material
      posted on our site.
    </p>
    <p class="lead text-light">
      You accept not to alter the document (including electronic copies of any materials) you have
      printed off or downloaded in any manner or form, and you agree not to use any illustrations,
      photographs, audio or video sequences or any graphics separately from any associated script
    </p>
    <p class="lead text-light">
      Our status (and that of any identified contributors) as the authors of material on our site must
      always be acknowledged.
    </p>
    <p class="lead text-light">
      You accept not to use any part of the contents on our site for commercial purposes without
      obtaining a license to do so from us or our licensors.
    </p>
    <p class="lead text-light">
      If you print, copy or download any part of our site in breach of these Terms of Use, your right to
      use our site shall cease with immediate effect and you accept, at our option, to return or destroy
      any copies of the contents you have made.
    </p>
    <h5 class=""><strong ><span class="text-warning">6. Reliance on Information Posted</span></strong></h5>
    <p class="lead text-light">
      Information and other materials posted on our site are not intended as advice on which reliance
      should be placed. We therefore disclaim all liability and responsibility arising from any reliance
      placed on such contents by any visitor to our site, or by anyone who may become aware of any
      of its contents.
    </p>
    <h5 class=""><strong ><span class="text-warning">7. Accuracy of information</span></strong></h5>
    <p class="lead text-light">
      Our site hosts information relating to us, our activities, partners and vendors. All information or
      guidance provided as part of our site is correct at the time of inclusion, but we make no
      representation or warranty as to the completeness, accuracy, currency, adequacy or suitability of
      that information. We take no responsibility for any action you may take, or for any loss or
      damage incurred, as a result of relying on such information or guidance.
    </p>
    <p class="lead text-light">
      The information included in our site has been compiled from diverse sources and is subject to
      modification without prior notification. We recommend that you read these Terms and
      Conditions and update your records regularly.
    </p>
    <h5 class=""><strong ><span class="text-warning">8. Our site changes regularly</span></strong></h5>
    <p class="lead text-light">
      We shall update our site frequently, and the content might be altered at any time. If the need
      arises, we may suspend access to our site, or close it indefinitely. Any of the material on our site
      may be out of date at any given time, and we are under no obligation to update such material.
    </p>
    <h5 class=""><strong ><span class="text-warning">9. Availability of our site</span></strong></h5>
    <p class="lead text-light">
      Due to the nature of the internet, we cannot guarantee that our site will always be accessible. Our
      site may be unavailable or suspended to allow for repairs, maintenance or the introduction of
      new facilities or services.
    </p>
    <h5 class=""><strong ><span class="text-warning">10. Our liability</span></strong></h5>
    <p class="lead text-light">
      The content presented on our site is provided without any guarantees, conditions or warranties as
      to its accuracy. To the extent allowable by law, we, BuildQwik Technology Limited, our
      partners, our vendors and third parties connected to us hereby expressly exclude:
    </p>
    <p class="lead text-light">
      a) All conditions, warranties and other terms which might otherwise be implied by statute,
      common law or the law of equity.
    </p>
    <p class="lead text-light">
      b) Any liability for any direct, indirect or consequential loss or damage incurred by any user in
      connection with our site or in connection with the use, inability to use, or results of the use of our
      site, any websites linked to it and any contents posted on it, including, without limitation any
      liability for:
    </p>
    <p class="lead text-light ml-4">
      (i) loss of income or revenue;
    </p>
    <p class="lead text-light ml-4">
      (ii) loss of business;
    </p>
    <p class="lead text-light ml-4">
      (iii) loss of profits or contracts;
    </p>
    <p class="lead text-light ml-4">
      (iv) loss of anticipated savings;
    </p>
    <p class="lead text-light ml-4">
      (v) loss of data;
    </p>
    <p class="lead text-light ml-4">
      (vi) loss of goodwill;
    </p>
    <p class="lead text-light ml-4">
      (vii) wasted management or office time; and
    </p>
    <p class="lead text-light ml-4">
      (viii) for any other loss or damage of any kind, however arising and whether caused by tort
      (including negligence), breach of contract or otherwise, even if foreseeable.
    </p>
    <p class="lead text-light">
      This does not affect our liability for death or personal injury arising from our negligence, or our
      liability for fraudulent misrepresentation or misrepresentation as to a fundamental matter, or any
      other liability which cannot be excluded or limited under applicable law.
    </p>
    <h5 class=""><strong ><span class="text-warning">11. Emails and Information sent to us</span></strong></h5>
    <p class="lead text-light">
      Any email or attachment sent to us will not be encrypted and we therefore do not accept any
      liability if emails sent by you are compromised (including, but not limited to, their security or
      confidentiality). We do not, to the extent permitted by law, accept any liability for any external
      compromise of security and/or confidentiality in relation to transmissions sent by email.
    </p>
    <h5 class=""><strong ><span class="text-warning">12. Information about you and your visits to our site</span></strong></h5>
    <p class="lead text-light">
      We process information about you in accordance with our privacy policy by using our site, you
      consent to such processing and agree that all data provided by you is accurate.
    </p>
    <h5 class=""><strong ><span class="text-warning">13. Username and password</span></strong></h5>
    <p class="lead text-light">
      If you use our site, you are responsible for keeping your login or access credential confidential
      and for restricting access to your devices/gadgets to prevent unauthorized access to your account.
      You agree to accept responsibility for all activities that occur under your user account. You
      should bring to our awareness immediately if you have any suspicion regarding the compromise
      of user accounts by anyone else, or is likely to be used in an unauthorized manner.
    </p>
    <p class="lead text-light">
      Please ensure all details provided to us are accurate and complete. Inform us immediately of any
      changes to the information that you provided when registering.
    </p>
    <p class="lead text-light">
      We reserve the right to refuse access to the site, and to terminate accounts, remove or edit
      content or cancel orders at our discretion. If we cancel an order it will be without charge to you
      unless, due to your negligence, you have allowed unauthorised use of your user account.
    </p>
    <h5 class=""><strong ><span class="text-warning">14. Linking to our site</span></strong></h5>
    <p class="lead text-light">
      You accept not to create link(s) to any part of our site without our prior written authorisation. If
      you wish to request such authorisation, please email hello@buildqwik.ng. Linked websites,
      whether permitted or not, do not have implied affiliation with our site. If we grant you
      authorisation to create links to any part of our site, the website from which you are linking must
      comply in all respects with the content standards set out in our acceptable use policy.
    </p>
    <h5 class=""><strong ><span class="text-warning">15. Copyright</span></strong></h5>
    <p class="lead text-light">
      All information presented, unless specifically stated otherwise is under copyright to us or our
      licensors. Information is freely available for downloading and browsing but may not be altered,
      transmitted, distributed, reproduced, duplicated, copied, or re-sold without our prior written
      consent.
    </p>
    <h5 class=""><strong ><span class="text-warning">16. Links from our site</span></strong></h5>
    <p class="lead text-light">
      Where our site contains links to other sites and resources provided by third parties, these links
      are provided for your information only. We have no control over the contents of those sites or
      resources, and accept no responsibility for them or for any loss or damage that may arise from
      your use of them.
    </p>
    <h5 class=""><strong ><span class="text-warning">17. Jurisdiction and applicable law</span></strong></h5>
    <p class="lead text-light">
      These Terms and Conditions of Use shall be interpreted and governed by the laws in operation in
      the Federal Republic of Nigeria. Subject to the Arbitration section below, each party hereby
      agrees to submit to the jurisdiction of the courts of Nigeria and to waive any objections based
      upon venue.
    </p>
    <h5 class=""><strong ><span class="text-warning">ARBITRATION</span></strong></h5>
    <p class="lead text-light">
      Any complaint, claim or dispute arising out of or relating to these Terms and Conditions of Use
      will be referred and finally settled by private and confidential binding arbitration before a single
      arbitrator held in Nigeria in English and governed by Nigeria law pursuant to the Arbitration and
      Conciliation Act Cap A18 Laws of the Federation of Nigeria 2004, as amended, replaced or reenacted from time to time.
    </p>
    <p class="lead text-light">
      The arbitrator shall be a person who is legally trained and who has experience in the information
      technology field in Nigeria and is independent of either party, Notwithstanding the foregoing, the
      site reserves the right to pursue the protection of intellectual property rights and confidential
      information through injunctive or other equitable relief through the courts.
    </p>
    <h5 class=""><strong ><span class="text-warning">TERMINATION</span></strong></h5>
    <p class="lead text-light">
      In addition to any other legal or equitable remedies, we may, without prior notice to you,
      immediately terminate the Terms and Conditions of Use or revoke any or all of your rights
      granted under the Terms and Conditions of Use.
    </p>
    <p class="lead text-light">
      Upon any termination of this agreement, you shall immediately cease all access to and use of the
      site and we shall, in addition to any other legal or equitable remedies, immediately revoke all
      account credentials and identifiers issued to you and deny your access to and use of this Site in
      whole or in part.
    </p>
    <p class="lead text-light">
      Any termination of this agreement shall not affect the respective rights and obligations
      (including without limitation, payment obligations) of the parties arising before the date of
      termination. You furthermore agree that the site shall not be liable to you or to any other person
      as a result of any such suspension or termination.
    </p>
    <p class="lead text-light">
      Should you become dissatisfied with the site or with any terms, conditions, rules, policies,
      guidelines, or practices of BuildQwik Technology Limited in operating the site, your sole and
      exclusive remedy is to cease using the site
    </p>
    <h5 class=""><strong ><span class="text-warning">SEVERABILITY</span></strong></h5>
    <p class="lead text-light">
      If any portion of these terms or conditions is held by any court or tribunal to be invalid or
      unenforceable, either in whole or in part, then the part shall be severed from these Terms and
      Conditions of Use and shall not affect the validity or enforceability of any other section listed in
      this document.
    </p>
    <h5 class=""><strong ><span class="text-warning">MISCELLANOUS PROVISIONS</span></strong></h5>
    <p class="lead text-light">
      You agree that all agreements, notices, receipts, invoices, disclosures and other communications
      that we provide to you electronically satisfy any legal requirement that such communications be
      in writing.
    </p>
    <p class="lead text-light">
      Assigning or sub-contracting any of your rights or obligations under these Terms and Conditions
      of Use to any third party is prohibited unless agreed upon in writing by us.
    </p>
    <p class="lead text-light">
      We reserve the right to transfer, assign or sub-contact the benefit of the whole or part of any
      rights or obligations under these Terms and Conditions of Use to any third party.
    </p>
    <h5 class=""><strong ><span class="text-warning">18. Variations</span></strong></h5>
    <p class="lead text-light">
      We may revise these Terms of Use at any time by amending this page. You are expected to
      check this page regularly to take notice of any changes we have made, as they are binding on
      you. Some of the provisions contained in these Terms of Use may also be superseded by
      provisions or notices published elsewhere on our site.
    </p>
    <h5 class=""><strong ><span class="text-warning">19. Your concerns</span></strong></h5>
    <p class="lead text-light">
      Refer any query or concern about content that features on our site via email to
      <span class="text-warning">hello@buildqwik.ng.</span>
    </p>
  <div>

</section>


{% endblock content %}
