{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
  <title>Xplore</title>
{% endblock title %}

{% block content %}
<section class="py-0 bg-primary">
  <div class="col-md-12">
  {% include 'partials/_alerts.html' %}
  <br>
    <h1 class="text-center"><strong ><span class="text-warning">Terms and Conditions of Sale</span></strong></h1>
    <h5 class=""><strong ><span class="text-warning">GENERAL</span></strong></h5>
    <p class="lead text-light">
      You ensure that you are at least 18 years of age or are surfing the site under the supervision of a
      parent or legal guardian. You agree that if you are not cleared enough on any part of the Terms
      and Conditions of Sale, you should endeavor to communicate us for clarification prior to making
      a purchase.
    </p>
    <p class="lead text-light">
      These Terms and Conditions of Sale fully govern the sale of goods and services purchased on
      this Site. No external evidence, whether oral or written, will be incorporated.
    </p>
    <h5 class=""><strong ><span class="text-warning">FORMATION OF CONTRACT</span></strong></h5>
    <p class="lead text-light">
      Both parties agree that accessing the website and gathering information regarding the services
      provided by the seller does not constitute an offer to sell, but merely an invitation to treat. The
      parties accept that an offer is only made once you have selected the item you intend to purchase,
      chosen your preferred payment method, proceeded to the checkout and completed the checkout
      process.
    </p>
    <p class="lead text-light">
      Both parties agree that the acceptance of the offer is not made when the seller contacts you by
      phone or by email to confirm that the order has been placed online. Your offer is only accepted
      when we dispatch the product to you and inform you either by email or by phone of the dispatch
      of your ordered product.
    </p>
    <p class="lead text-light">
      Before your order is confirmed, you may be asked to provide additional verifications or
      information, including but not limited to phone number and address, before we accept the order.
    </p>
    <p class="lead text-light">
      Please note that there are cases when an order cannot be processed for various reasons. The site
      reserves the right to refuse or cancel any order for any reason at any given time.
    </p>
    <h5 class=""><strong ><span class="text-warning">ACCEPTANCE OF ELECTRONIC DOCUMENTS</span></strong></h5>
    <p class="lead text-light">
      You agree that all agreements, notices, receipts, invoices, disclosures and other communications
      that we provide to you electronically satisfy any legal requirement that such communications be
      in writing.
    </p>
    <h5 class=""><strong ><span class="text-warning">PRICES AND PRODUCTS</span></strong></h5>
    <p class="lead text-light">
      The Company takes reasonable care to ensure that all details are correct. The Company reserves
      the right to refuse orders where Product and Price information has been incorrectly published.
      Prices are inclusive of VAT unless otherwise stated.
    </p>
    <p class="lead text-light">
      The BuildQwik has the right to reject or cancel any such orders whether or not the order has been
      confirmed and your credit/debit card charged. In the situation whereby we are unable to provide
      the services, we will inform you of this as soon as possible. A full refund will be given where
      you have already paid for the products.
    </p>
    <p class="lead text-light">
      Terms and conditions are applicable to account holders requesting any product and/or service on
      <a href="{% url 'index' %}"><span class="text-warning">www.buildqwik.ng</span></a>
    </p>
    <p class="lead text-light">
      BuildQwik reserves the right to change the price of her products and/or services displayed on the
      website at any time without prior notification.
    </p>
    <h5 class=""><strong ><span class="text-warning">DELIVERY</span></strong></h5>
    <p class="lead text-light">
      This site is only for delivery of products and/or services to customers within Nigeria. We make
      every effort to deliver goods and/or services within the estimated timescales set out on our site;
      however, delays are occasionally inevitable due to unforeseen factors. We shall be under no
      liability for any delay or failure to deliver the products within the estimated timescales where
      they did not occur due to our fault or negligence.
    </p>
    <p class="lead text-light">
      Only product and/or service for which payment has been confirmed by BuildQwik shall be
      processed for delivery. Any product and/or service ordered which payment could not be
      confirmed within three (3) working days shall be deemed automatically cancelled and shall not
      be processed for delivery. Should payment be confirmed after three (3) working days, refund
      shall be conducted by BuildQwik to the account of the paying customer.
    </p>
    <p class="lead text-light">
      You agree to make yourself available and undertake to facilitate the delivery of goods and/or
      services ordered and paid for.
    </p>
    <p class="lead text-light">
      You agree not to hold BuildQwik liable for any delay or failure to deliver products or otherwise
      perform any obligation as specified in these Terms and Conditions of Sale if the same is wholly
      or partly caused whether directly or indirectly by circumstances beyond our reasonable control.
    </p>
    <h5 class=""><strong ><span class="text-warning">RETURN POLICY</span></strong></h5>
    <p class="lead text-light">
      Please see QwikMaterials return policy.
    </p>
    <h5 class=""><strong ><span class="text-warning">INDEMNITY</span></strong></h5>
    <p class="lead text-light">
      You agree to indemnify us, our affiliates, officers, directors, agents and/or employees, as the case
      may be, free from any claim or demand, including reasonable legal fees, related to your breach
      of these Terms and Conditions of Sale.
    </p>
    <h5 class=""><strong ><span class="text-warning">APPLICABLE LAW AND JURISDICTION</span></strong></h5>
    <p class="lead text-light">
      These Terms and Conditions of Sale shall be interpreted and governed by the laws in force in the
      Federal Republic of Nigeria. Subject to the Arbitration section below, each party hereby agrees
      to submit to the jurisdiction of the courts of Nigeria and to waive any objections based upon
      venue.
    </p>
    <h5 class=""><strong ><span class="text-warning">ARBITRATION</span></strong></h5>
    <p class="lead text-light">
      Any controversy, claim or dispute arising out of or relating to these Terms and Conditions of
      Sale will be referred to and finally settled by private and confidential binding arbitration before a
      single arbitrator held in Nigeria in English and governed by Nigeria law pursuant to the
      Arbitration and Conciliation Act Cap A18 Laws of the Federation of Nigeria 2004, as amended,
      replaced or re-enacted from time to time.
    </p>
    <p class="lead text-light">
      The arbitrator shall be a person who is legally trained and who has experience in the information
      technology field in Nigeria and is independent of either party. Notwithstanding the foregoing, the
      Site reserves the right to pursue the protection of intellectual property rights and confidential
      information through injunctive or other equitable relief through the courts.
    </p>
    <h5 class=""><strong ><span class="text-warning">SEVERABILITY</span></strong></h5>
    <p class="lead text-light">
      If any portion of these Terms or Conditions of Sale is held by any court or tribunal to be invalid
      or unenforceable, either in whole or in part, then that part shall be severed from these Terms and
      Conditions of Sale and shall not affect the validity or enforceability of any other section listed in
      this document.
    </p>
    <h5 class=""><strong ><span class="text-warning">MISCELLANEOUS PROVISIONS</span></strong></h5>
    <p class="lead text-light">
      You agree that all agreements, notices, receipts, invoices, disclosures and other communications
      that we provide to you electronically satisfy any legal requirement that such communications be
      in writing.
    </p>
    <p class="lead text-light">
      Assigning or sub-contracting any of your rights or obligations under these Terms and Conditions
      of Sale to any third party is prohibited unless agreed upon in writing by the seller.
    </p>
    <p class="lead text-light">
      We reserve the right to transfer, assign or sub-contract the benefit of the whole or part of any
      rights or obligations under these Terms and Conditions of Sale to any third party.
    </p>
  <div>

</section>


{% endblock content %}
