{% load static %}
<!-- Footer -->

<footer class="mt-1 bg-primary text-white text-center">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-3">

      </div>
      <div class="col-md-6">
        <br>
        <div class="row">
          <div class="col-md-1">

          </div>
          <div class="col-md-10">
            <i class="fa fa-home fa-1x text-warning"></i> <strong>20 Fidipote Street, Millennium Estate, Gbagada, Lagos.</strong>
          </div>
          <div class="col-md-1">

          </div>

        </div>

        <div class="row">
          <div class="col-md-1">

          </div>
          <div class="col-md-10">
            <i class="fa fa-phone fa-1x text-warning"></i> <strong>&nbsp(+234)9053196307</strong>
          </div>
          <div class="col-md-1">

          </div>

        </div>

        <div class="row">
          <div class="col-md-1">

          </div>
          <div class="col-md-10">
            <i class="fa fa-envelope-open fa-1x text-warning"></i> <strong>&nbspsupport@buildqwik.ng</strong>
          </div>
          <div class="col-md-1">

          </div>

        </div>
        <br>

        <div class="row">
          <div class="col-md-3">

          </div>
          <div class="col-md-2">
            <a href="#">
              <i class="fab fa-whatsapp fa-3x text-whatsapp bg-primary"></i>
            </a>
          </div>
          <div class="col-md-2">
            <a href="#">
              <i class="fab fa-facebook fa-3x text-facebook bg-primary"></i>
            </a>
          </div>
          <div class="col-md-2">
            <a href="#">
              <i class="fab fa-twitter fa-3x text-twitter bg-primary"></i>
            </a>
          </div>
          <div class="col-md-3">

          </div>
        </div>

      <div class="col-md-3">

      </div>
    </div>
  </div>
  <br>
  <br>
  Copyright &copy;
  <span class="year "></span> BuildQwik Technology Limited.
</footer>
