{% load static %}
<footer class="mt-1 bg-primary text-white text-center">
  <div class="col-md-12">
    <div class="row text-center">
      <div class="col-md-3">

      </div>
      <div class="col-md-4">
        <br>
        <p class="row justify-left lead"><strong>QwikLinks</strong></p>
        <p class="row justify-left"><a href="{% url 'index' %}"><span class="text-warning lead">Home</span></a> </p>
        <p class="row justify-left"><a href="{% url 'products:product_list' %}"><span class="text-warning lead">QwikMaterials</span></a> </p>
        <p class="row justify-left"><a href="{% url 'xplore' %}"><span class="text-warning lead">QwikXplore</span></a></p>
        <p class="row justify-left"><a href="{% url 'about' %}"><span class="text-warning lead">About</span></a></p>
        <p class="row justify-left"><a href="{% url 'contact' %}"><span class="text-warning lead">Contact</span></a></p>
      </div>
      <div class="col-md-1">

      </div>
      <div class="col-md-4">
        <br>
        <p class="row justify-left lead"><strong>Legal</strong></p>
        <p class="row justify-left"><a href="{% url 'terms' %}"><span class="text-warning lead">Terms and Conditions of Sales</span></a> </p>
        <p class="row justify-left"><a href="{% url 'terms2' %}"><span class="text-warning lead">Terms and Conditions of Website Use</span></a> </p>
        <p class="row justify-left"><a href="{% url 'return' %}"><span class="text-warning lead">Return Policy</span></a></p>
      </div>
    </div>
  </div>

  <br>
  <br>
  <div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-10">
      <i class="fa fa-home fa-2x text-warning"></i> <strong class="lead">20 Fidipote Street, Millennium Estate, Gbagada, Lagos.</strong>
    </div>
    <div class="col-md-1">
    </div>
  </div>

  <div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-10">
      <i class="fa fa-phone fa-2x text-warning"></i> <strong class="lead">&nbsp+234(0)9053196307</strong>
    </div>
    <div class="col-md-1">
    </div>
  </div>

  <div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-10">
      <i class="fa fa-envelope-open fa-2x text-warning"></i> <strong class="lead">&nbspsupport@buildqwik.ng</strong>
    </div>
    <div class="col-md-1">
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-1">
      <a href="#">
        <i class="fab fa-whatsapp fa-3x text-whatsapp bg-primary"></i>
      </a>
    </div>
    <div class="col-md-1">
      <a href="#">
        <i class="fab fa-facebook fa-3x text-facebook bg-primary"></i>
      </a>
    </div>
    <div class="col-md-1">
      <a href="#">
        <i class="fab fa-twitter fa-3x text-twitter bg-primary"></i>
      </a>
    </div>
    <div class="col-md-1">
      <a href="#">
        <i class="fab fa-youtube fa-3x text-youtube"></i>
      </a>
    </div>
    <div class="col-md-4">
    </div>
  </div>
  <br>
  <strong>Copyright &copy; <span class="year"></span> BuildQwik Technology Limited</strong>
</footer>
