{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
  <title>Checkout</title>
{% endblock title %}

{% block content %}
</br>
  {% if product_order.user == request.user %}
  <div class="row">
    <div class="form-group col-lg-3">
      <a  class="btn btn-outline-warning" href="{% url 'dashboard' %}">&#x2190; Back to Dashboard</a>
    </div>
    <div class="form-group col-lg-1">
    </div>
    <div class="form-group col-lg-2">
    <button class="btn btn-warning btn-block"><a  href="pay"><strong>Pay From Wallet Balance</strong></a></button>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <div class="box-element">
        <hr>
        <h3 class="text-center">ORDER ID: {{product_order.id}}</h3>
        <hr>
        <div class="cart-row">
          <div style="flex:2"><img class="row-image" src="{{product_order.product.imageURL}}"></div>
          <div style="flex:2"><p>{{product_order.product.type}}</p></div>
          <div style="flex:1"><p>₦{{product_order.product.price}}</p></div>
          <div style="flex:1"><p>x{{product_order.quantity}}</p></div>
        </div>
        <h5>Total: ₦{{product_order.total_Price}}</h5>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="box-element bg-primary text-light" id="form-wrapper">
        <form id="form">
          <div id="user-info">
            <div class="form-group">
              <label for="email-address">Email</label>
              <input required class="form-control" type="email" value="{{product_order.user.email}}" id="email-address" name="email" placeholder="Enter Email" required />
            </div>
            <div class="form-group">
              <label for="amount">Amount</label>
              <input required class="form-control" readonly type="tel" value="{{product_order.total_Price}}" id="amount" required />
            </div>
            <div class="form-group">
              <button id="form-button" class="btn btn-warning btn-block" type="submit" onclick="payWithPaystack()"> <strong>Pay with Card</strong> </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <br>


  <script src="https://js.paystack.co/v1/inline.js"></script>
  <script>
    const form = document.getElementById('form');
    form.addEventListener("submit", payWithPaystack, false);
    function payWithPaystack(e) {
      e.preventDefault();
      let handler = PaystackPop.setup({
        key: 'pk_test_8b5034b6a82fb45ee0f2662d339845ca48d7d8e8',
        email: document.getElementById('email-address').value,
        amount: document.getElementById('amount').value * 100,
        onClose: function(){
          alert('Window closed.');
        },
        callback: function(response){
          let message = 'You have completed your payment! Your Reference Number is: ' + response.reference;
          alert(message);
        }
      });
      handler.openIframe();
    }
  </script>

  {% else %}
    <h2 class="text-center">Access Restricted</h2>
    <br>
  {% endif %}


{% endblock content %}
