{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
  <title>Delete Order</title>
{% endblock title %}

{% block content %}
<br>
<div class="d-flex justify-content-center">
  <div class="text-center card bg-warning text-primary form-group col-md-9">
    <br>
    {% if product_order.user == request.user %}
      <h4 >Deleting ORDER ID: {{product_order.order_Id}} will remove all the ORDER's records in the system. Do you still wish to continue?</h4>
      <br>
      <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" class="btn btn-danger" value="Yes, confirm"> <a class="btn btn-outline-primary" href="{% url 'orders' %}">No, cancel</a>
      </form>
    {% else %}
      <h2 class="text-center">Access Restricted</h2>
      <br>
    {% endif %}
      <br>
  </div>
</div>

{% endblock content%}
