{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
  <title>Update Product Order</title>
{% endblock title %}

{% block content %}
  </br>
  <div class="container">
    {% include 'partials/_alerts.html' %}
    {% if product_order.user == request.user %}
      <form method="post" class="form-group col-md-12">
        <h3 class="form-group text-center text-warning bg-primary">UPDATE DELIVERY INFO</h3>
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" class="form-group col-md-12" value="Update">
      </form>
    {% else %}
      <h2 class="text-center">Access Restricted</h2>
      <br>
    {% endif %}
  </div>

{% endblock content%}
