{% extends 'base.html' %}
{% load static %}

{% block title %}
  <title>Wallet Payment</title>
{% endblock title %}

{% block content %}
<br>
  <div class="row">
    <div class="col-lg-12">
      <div class="box-element">
        <div class="row">
          <div class="form-group col-lg-3">
            <a  class="btn btn-outline-dark" href="{% url 'orders' %}">&#x2190; Back to Orders History</a>
          </div>
        </div>
        <hr>
        {% include 'partials/_alerts.html' %}
        <hr>
      </div>
    </div>
  </div>

{% endblock content %}
