<p style="text-align:center"><img src="https://www.buildqwik.ng/static/img/logo_trans.png" alt="BuildQwik Logo" width="113" height="113"></p>
<h1 style="text-align:center; color:#edc17e"><strong>BUILDQWIK TECHNOLOGY LIMITED</strong></h1>
<h3>Dear {{name}}, your order has been received. The ORDER ID is: {{order_Id}}. If you have not paid you can follow this link www.buildqwik.ng/visitor-pay to do so</h3>
<br>
<br>

<h3><span style="color:#edc17e">BuildQwik</span> Team,</h3>
<h3>Best Regards</h3>
