{% autoescape off %}

{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

  </head>
  <body>

    <section>
      <div class="card bg-primary text-light form-group col-md-12">
        <div class="row">
          <div class="col-md-5">

          </div>
          <div class="col-md-2">
          <p style="text-align:center"><img src="https://www.buildqwik.ng/static/img/logo.png" alt="BuildQwik Logo" width="150" height="150"></p>
          </div>
          <div class="col-md-5">

          </div>
        </div>
        <h1 style="text-align:center; color:#edc17e"><strong>BUILDQWIK TECHNOLOGY LIMITED</strong></h1>
      </div>

      <div class="container">
      <br>
        <h3 style="text-align:center">Your order has been received. Remember you can always log in and checkout to pay from your dashboard</h3>
      </div>
    </section>


  </body>
</html>

{% endautoescape %}
