{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="https://www.buildqwik.ng/static/css/all.css">

    <link rel="stylesheet" href="https://www.buildqwik.ng/static/css/bootstrap.css">

    <link rel="stylesheet" href="https://www.buildqwik.ng/static/css/base.css">

    <link rel="stylesheet" href="https://www.buildqwik.ng/static/css/style.css">
  </head>
  <body>

    <section>
      <div class="card bg-primary text-light form-group col-md-12">
        <div class="row">
          <div class="col-md-5">

          </div>
          <div class="col-md-2">
            <img src="https://www.buildqwik.ng/static/img/logo.png" alt="BuildQwik Logo" width="50" height="150">
          </div>
          <div class="col-md-5">

          </div>
        </div>
        <h5 class="d-flex justify-content-center"><strong>BUILDQWIK TECHNOLOGY LIMITED</strong></h5>
      </div>

      <div class="container">
      <br>
        <p style="text-align:center">Your order has been received. Remember you can always log in and checkout to pay from your dashboard</p>
        <h3 class="text-center"></h3>
      </div>
    </section>

    <script src="https://www.buildqwik.ng/js/jquery-3.3.1.min.js"></script>
    <script src="https://www.buildqwik.ng/js/bootstrap.bundle.min.js"></script>
    <script src="https://www.buildqwik.ng/js/main.js"></script>

  </body>
</html>
